<p style="color: green"><%= notice %></p>

<div class="text-left border rounded-2 mt-5 text-white h5">

    <div class="row ps-2 mt-5 ">
      <div class="col-2">
        Id
      </div>
      <div class="col-1">
        <%= @client.id %>
      </div>
    </div>

    <div class="row ps-2">
      <div class="col-2">
        Nombre
      </div>
      <div class="col-6">
        <%= @client.name %>
      </div>
    </div>

    <div class="row ps-2">
      <div class="col-2">
        Edad
      </div>
      <div class="col-6">
        <%= @client.age %>
      </div>
    </div>

    <div class="row ps-2">
      <div class="col-2">
        Película arrendada
      </div>
      <div class="col-6">
        <%= @client.movies.last %>
      </div>
    </div>
  </div>

<div>
  <%= link_to "Edit this client", edit_client_path(@client) , class: "btn btn-primary mt-2" %> |
  <%= link_to "Back to clients", clients_path , class: "btn btn-primary mt-2" %>

  <%= button_to "Destroy this client", @client,class: "btn btn-danger mt-2" , method: :delete %>
</div>
